<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <bean id="helloWorld" class="com.zhu.beans.HelloWorld">
        <property name="name" value="Spring"/>
    </bean>

    <bean id="aopController" class="com.zhu.controller.AopController"/>
    <bean id="aop" class="com.zhu.aop.Aop"/>

    <aop:config>
        <aop:aspect id="myAspect" ref="aop">
            <aop:pointcut id="pointCut" expression="execution(* com.zhu.controller.AopController.AopRequest(..))"/>
            <aop:before method="aopBefore" pointcut-ref="pointCut"/>
            <aop:after method="aopAfter" pointcut-ref="pointCut"/>
            <aop:after-throwing method="aopThrowing" pointcut-ref="pointCut"/>
            <aop:after-returning method="aopReturning" pointcut-ref="pointCut"/>
            <aop:around method="aopAround" pointcut-ref="pointCut"/>
        </aop:aspect>
    </aop:config>
</beans>